html {
  padding: 0;
  margin: 0
}

body {
  background-image: url('../img/publicradio800w.jpg');
  background-repeat: no-repeat;
  background-position: 0px -30px;
  font-family: 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: -15px 0 0 0;
  background-color: #000;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  padding: 15px 0 0 15px;
}

form {
  background-color: rgba(30,30,30,0.7);
  margin: 0 0 0 20px;
  padding: 0 0 0 40px;
  width: 310px;
  height: 515px;
  overflow: hidden;
}

label {
  display: block;
  color: #fff;
  margin-bottom: 5px;
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 1px;
}

input[type='text'] {
  padding: 8px;
  border: 1px solid #555;
  font-size: 14px;
  background-color: #999;
  background-color: #C0DFF1;
  color: #333;
  width: 200px;
  border-radius: 5px;
  letter-spacing: 1px;
}

input[type='submit'] {
  padding: 10px 5px;
  margin: 15px 0 0 15px;
  border: none;
  display: block;
  cursor: pointer;
  width: 210px;
  font-size: 16px;
  background-color: #42B7FF;
  background-color: #328CC0;
  color: #000;
  color: #fff;
  border-radius: 4px;
  letter-spacing: 2px;
}

fieldset {
  border: none;
}

#circle-container {
  margin: 20px 0 0 78px;
  height: 72px;
  width: 72px;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
}
